---
import NewsletterSignup from '../components/NewsletterSignup.astro';
import Layout from '../layouts/Layout.astro';
import FAQ from '../components/FAQ.astro';
---
<Layout title="Morphr - From Figma to Flutter">
<section class="pt-24 pb-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-8">

    <h1 class="text-center mb-12 pt-24">
      <span class="text-6xl sm:text-8xl font-bold block mb-2">
        From Figma to Flutter
      </span>
      <span class="gradient-text text-6xl sm:text-8xl font-bold">over-the-air.</span>
    </h1>

    <div class="text-center mb-16 max-w-3xl mx-auto">
      <h2 class="text-2xl sm:text-3xl font-bold mb-4">
        Push Figma changes to Flutter instantly.</span>
      </h2>
      <p class="text-center text-gray-400 text-lg mb-8 max-w-2xl mx-auto">
        Build Flutter UI 10x faster by pushing every Figma change to Flutter instantly. No more dev cycles. No more app updates. Update Figma designs and see changes instantly.
      </p>
    </div>

    <div class="mb-24">
      <div class="bg-gray-900/50 rounded-xl border border-gray-800 overflow-hidden">
        <video 
          autoplay 
          loop 
          muted 
          playsinline
          class="w-full"
        >
          <source src="/assets/morphr_sync.mp4" type="video/mp4">
        </video>
      </div>
    </div>

<section class="text-center pb-24">
  <NewsletterSignup />
</section>

<section>
  <FAQ/>
</section>
</Layout>

<style>
  .gradient-text {
    background: linear-gradient(45deg, #FCD34D, #E879F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
</style>