---
const currentYear = new Date().getFullYear();
---

<footer class="py-12 border-t border-zinc-800">
 <div class="max-w-7xl mx-auto px-8">
   <div class="text-center text-sm text-zinc-500">
     © {currentYear} Intales Srl. All rights reserved.
   </div>
 </div>
</footer>